.categories-title{
	margin:10px 0;
	font-weight: 800;
}
.categories-page {
  justify-content: start;
  align-items: center;
}
.categories-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height:100%;
}
.categories-list-wrapper {
	width: 100%;
	overflow-y: auto;
	display: flex;
	justify-content: center;
}
.categories-list-wrapper::-webkit-scrollbar {
	display: none;
}
.categories-list-wrapper:hover::-webkit-scrollbar {
	display: block;
}