.home-page{
  overflow-y:hidden;
  /* margin: 10px; */
  padding: 20px;
}
.categories-container::-webkit-scrollbar{
  padding: 4px;
  width: 10px;
  
}
.categories-container::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.15);
  transition: .4s;
  border-radius: 3px;
  margin: 4px 0;
}
.categories-container{
  overflow-y:auto;
  margin-top:20px;
  scroll-behavior: smooth;
}
.category{
  width: 100%;
  max-width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: rgba(0, 0, 0, 0.2);
  padding-bottom:15px;
  border-radius: 10px;
  min-height: fit-content;
}
.category-title-container{
  margin:5px;
  padding:10px;
  width:fit-content;
  display:flex;
  align-items: center;
  margin-bottom: 15px;
  cursor:pointer;
  transition: .1s;
  margin-right:15px;
}
.category-title-container:hover{
  background: rgba(255, 255, 255, 0.1);
  transition: .1s;
  border-radius: 4px;
}
.category-title-container:hover .category-title{
  transform:scale(1);
  transition: .4s;
}
.category-title{
  font-weight: 800;
  font-size: 19px;
  transform:scale(1);
  transition: .4s;
}
.category-title-container:hover>.category-link-icon{
  visibility: visible;
  transition: .5s;
}
.category-link-icon{
  padding-right:10px;
  font-size: 20px;
  visibility: hidden;
}
.category-hashtag-icon{
  margin-left: 6px;
  font-size: 20px;
}
.category-posts{
  display:flex;
  overflow-x:auto;
  padding-bottom: 20px;
}
.category-posts::-webkit-scrollbar{
  background: rgb(56, 56, 56);
  height: 6px;
  transition: .4s;
  border-radius: 4px;
}
.category-posts::-webkit-scrollbar-thumb{
  background: rgb(40, 76, 196);
  height: 6px;
  border-radius: 4px;
}
.category-posts:hover::-webkit-scrollbar{
  height: 10px;
  transition: .4s;
}